@import "_theme";

html, body {
  width: 100%;
  height: 100%;
  background-color: $app-light;
}

h1 {
  padding-top: 0;
  margin-top: 0;
  background-color: $app-secondary;
  color: $app-light;
  text-align: center;
}
